@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap%27');

.containernav {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Marvel', sans-serif;
}

.logo {
    width: 75px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'Marvel', sans-serif;
    color: white;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

nav a {
    color: white;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    font-size: 1.1rem;
    font-weight: bolder;
}