<div class="containernav">
  <nav>
    <div>
    <a routerLink="/home">Home</a>
    <a routerLink="/comic">Listado de comics</a>
    <a routerLink="/add">Agregar comic</a>
    <a routerLink="/trivial">Trivial</a>
    </div>
    <img class="logo" src="../../../../assets/logo.jfif" alt="logo tienda">
    <div>
    <a routerLink="/login">Login</a>
    <a routerLink="/contact">Contacto</a> 
    <a routerLink="/register" class = "register">Registro</a> 
    </div>
  </nav>
  <div class="user-access">
    <!-- Aquí puedes agregar el contenido del acceso de usuario -->
  </div>
</div>