.registercontainer{
    background-image: url("https://cdn.discordapp.com/attachments/1105133232053297302/1123312341220593837/marvel-chromebook-wallpaper.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.registerbox{
    background-color: white;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    padding: 10px;

}

.form-group{
    padding: 5px;
}

.register-h{
    margin-top: 10px;
}

.buttonRegister{
    background-image: linear-gradient(to right, #007bff, #ff0000);
    padding: 10px;
    font-weight: bold;
    margin: 3px;
    color: blanchedalmond;
    border: none;
    opacity: 0.9;
    border-radius: 5px;
}