<footer class="footer">
  <div class="footer-content">
    <h4>Explora más cómics</h4>
    <ul class="footer-links">
      <li><a href="https://www.marvel.com/" target="_blank">Marvel</a></li>
      <li><a href="https://www.dc.com/" target="_blank">DC</a></li>
      <li><a href="https://imagecomics.com/" target="_blank">Image Comics</a></li>
      <li><a href="https://www.darkhorse.com/" target="_blank">Dark Horse Comics</a></li>
    </ul>
  <div class="socialMedia">
    <h4>Encuentranos también en redes sociales</h4>
    <a href="https://es-la.facebook.com/" target="_blank"><img src="../../../../assets/icons8-facebook-24.png"  class=imgMedia alt="facebook"></a>
    <a href="https://twitter.com/?lang=es" target="_blank"><img src="../../../../assets/icons8-twitter-24.png" class=imgMedia alt="twitter"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="../../../../assets/icons8-instagram-24.png" class=imgMedia alt="instagram"></a>
    <a href="https://www.youtube.com/" target="_blank"><img src="../../../../assets/icons8-youtube-24.png"  class=imgMedia alt="youtube"></a>
    <a href="https://www.tiktok.com/es/" target="_blank"><img src="../../../../assets/icons8-tiktok-24.png" class=imgMedia alt="tiktok"></a>
    <a href="https://github.com/" target="_blank"><img src="../../../../assets/icons8-github-24.png" class=imgMedia alt="github"></a>
          
  </div>
  <span class="footerSpan">
  <h6>Aviso legal</h6>
  <h6>Política cookies</h6>
  <h6>Política privacidad</h6>
  <h6>Copyright</h6>
</span>
  
  </div>
</footer>