<h2>Trivial de Marvel</h2>
<button (click)="seleccionarPreguntasAleatorias(cantidad)">Generar Test</button>
<div *ngFor="let pregunta of preguntasAleatorias; let i = index">
  
  <h3>{{ pregunta.pregunta }}</h3>
  <ul>
    <li *ngFor="let opcion of pregunta.opciones; let j = index"
        [ngClass]="{
          'correct-option': pregunta.selectedOptionIndex === j && opcion === pregunta.respuesta_correcta,
          'incorrect-option': pregunta.selectedOptionIndex === j && opcion !== pregunta.respuesta_correcta
        }"
        (click)="onOpcionSeleccionada(pregunta, j)">
      {{ opcion }}
    </li>
  </ul>
</div>

<p>Puntos: {{ puntos }}</p>
<p>{{ calcularPuntaje() }}</p>